## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

# Potential points of interest
- ratings/budget/gross relationship
- impact of length of movie
- how will does each genre do?
- rating of same movie between different review platforms, how does it relate to gross?

In [33]:
#convert data sets to pandas dataframes
imdb_basics_df = pd.read_csv('zippedData\imdb.title.basics.csv.gz')
imdb_ratings_df = pd.read_csv('zippedData\imdb.title.ratings.csv.gz')
rt_reviews_df = pd.read_csv('zippedData/rt.reviews.tsv.gz', compression='gzip',error_bad_lines=False, delimiter='\t',encoding='ISO-8859-1')
tmdb_df = pd.read_csv('zippedData/tmdb.movies.csv.gz')
tn_budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

# IMDB Titles Basics
Total rows of data: 146144<br>
Column Names: tconst (primary key), primary_title, original_title, start_year, runtime_minutes, genres
- 31739 NaN in 'runtime_minutes'
- Mean: 86.187247 min, median: approx 87 min, chose median to fill NaN values
- Mean after cleaning: 86.363758
<br><br>
- 5408 NaN in genres
- Mode = Documentary at 32185
- Not many out of total, but replacing with mode seems inaccurate
- Will create a category of "Genre Data Missing"
<br><br>
- 21 NaN in original_title
- Will fill with primary title

In [42]:
#Clean IMDB basics runtime_minutes
imdb_basics_df['runtime_minutes'].fillna(imdb_basics_df['runtime_minutes'].median(),inplace=True)
#Clean IMDB basics genres
imdb_basics_df['genres'].fillna('Genre Data Missing',inplace = True)
#Clean IMDB basics original_title
imdb_basics_df['original_title'].fillna(imdb_basics_df['primary_title'],inplace = True)

print ('IMDB title basics')
print(imdb_basics_df.columns)
print('Number of entries:', len(imdb_basics_df),'\n')
print(imdb_basics_df.isna().sum())

IMDB title basics
Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')
Number of entries: 146144

tconst             0
primary_title      0
original_title     0
start_year         0
runtime_minutes    0
genres             0
dtype: int64

# IMDB Title Ratings
Total Rows of Data: 73856<br>
Column Names: tconst (primary key), averagerating, numvotes<br>
No NaN values

In [43]:
print ('IMDB title ratings')
print(imdb_ratings_df.head())
print('\nNumber of entries:',len(imdb_ratings_df),'\n')
print(imdb_ratings_df.isna().sum())

IMDB title ratings
       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

Number of entries: 73856

tconst           0
averagerating    0
numvotes         0
dtype: int64

# RT Reviews
Number of rows: 54432<br>
Column Names: id, review, rating, fresh, critic, top_critic, publisher, date

- 13517 NaN in 'rating'

In [57]:
print ('RT Reviews')
print(rt_reviews_df.head())
print(rt_reviews_df.columns)
print('\nNumber of entries:',len(rt_reviews_df),'\n')
print(rt_reviews_df.isna().sum())

RT Reviews
   id                                             review rating   fresh  \
0   3  A distinctly gallows take on contemporary fina...    3/5   fresh
1   3  It's an allegory in search of a meaning that n...    NaN  rotten
2   3  ... life lived in a bubble in financial dealin...    NaN   fresh
3   3  Continuing along a line introduced in last yea...    NaN   fresh
4   3             ... a perverse twist on neorealism...     NaN   fresh

           critic  top_critic         publisher               date
0      PJ Nabarro           0   Patrick Nabarro  November 10, 2018
1  Annalee Newitz           0           io9.com       May 23, 2018
2    Sean Axmaker           0  Stream on Demand    January 4, 2018
3   Daniel Kasman           0              MUBI  November 16, 2017
4             NaN           0      Cinema Scope   October 12, 2017
Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
       'date'],
      dtype='object')

Number of entries: 54432

id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

# TMDB Movies
Rows of data: 26517 <br>
Column Names: genre_ids, id (primary key), original_language, original_title, popularity, release_date, title, vote_average, vote_count<br>
Originally had extra column "Unnamed: 0" which was a duplicate of the index<br>
No NaN values

In [59]:
tmdb_df.drop('Unnamed: 0',axis=1,inplace = True)
print ('TMDB')
print(tmdb_df.head())
print(tmdb_df.columns)
print('\nNumber of entries:',len(tmdb_df),'\n')
print(tmdb_df.isna().sum())

TMDB
             genre_ids     id original_language  \
0      [12, 14, 10751]  12444                en
1  [14, 12, 16, 10751]  10191                en
2        [12, 28, 878]  10138                en
3      [16, 35, 10751]    862                en
4        [28, 878, 12]  27205                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26
2                                    Iron Man 2      28.515   2010-05-07
3                                     Toy Story      28.005   1995-11-22
4                                     Inception      27.920   2010-07-16

                                          title  vote_average  vote_count
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610
2                                    Iron Man 2           6.8       12368
3                                     Toy Story           7.9       10174
4                                     Inception           8.3       22186
Index(['genre_ids', 'id', 'original_language', 'original_title', 'popularity',
       'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

Number of entries: 26517

genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

# TN Movie Budgets
Rows of data: 5782<br>
Column Names: id, release_date, movie, production_budget, domestic_gross, worldwide_gross<br>
No NaNs<br>
Production budget, domestic gross, and worldwide gross converted from strings to numeric values

In [79]:
money_list = ['production_budget','domestic_gross','worldwide_gross']
for ser in money_list:
    tn_budgets_df[ser] = tn_budgets_df[ser].apply(lambda x:x.replace(',',''))
    tn_budgets_df[ser] = tn_budgets_df[ser].apply(lambda x:x.replace('$',''))
    tn_budgets_df[ser] = pd.to_numeric(tn_budgets_df[ser])

print ('TN Movie Budgets')
print(tn_budgets_df.head())
print(tn_budgets_df.columns)
print('\nNumber of entries:',len(tn_budgets_df),'\n')
print(tn_budgets_df.isna().sum())

TN Movie Budgets
   id  release_date                                        movie  \
0   1  Dec 18, 2009                                       Avatar
1   2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2   3   Jun 7, 2019                                 Dark Phoenix
3   4   May 1, 2015                      Avengers: Age of Ultron
4   5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi

   production_budget  domestic_gross  worldwide_gross
0          425000000       760507625       2776345279
1          410600000       241063875       1045663875
2          350000000        42762350        149762350
3          330600000       459005868       1403013963
4          317000000       620181382       1316721747
Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

Number of entries: 5782

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [76]:
tn_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null int32
domestic_gross       5782 non-null int32
worldwide_gross      5782 non-null int64
dtypes: int32(2), int64(2), object(2)
memory usage: 226.0+ KB